<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Hello, world!</title>
  </head>

  {% load static %}

  <body>

    {% include 'master/nav.html' %}

    {% if messages %}

    {% for message in messages %}

        <div class="alert alert-{{ message.tags }}" id="msg">
            {{ message }}
        </div>

    {% endfor %}

    <script>
        setTimeout(function () {
            document.getElementById('msg').style.display = 'none';
        }, 1000);
    </script>

{% endif %}


    <!-- Page Content -->

    <div class="container mt-3">
      {% block content %}
      {% endblock content %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Your custom JS -->
    <script src="{% static 'js/main.js' %}?v=2"></script>

  </body>
</html>