<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Portfolio app from NIRPro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        {% if request.user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard_page' %}">DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'profile_page' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'resume_page' %}">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'project_page' %}">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'skill_page' %}">Skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'education_page' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'experience_page' %}">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact_page' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_page' %}">logout</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_page' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_page' %}">Register</a>
        </li>
        {% endif %}
            
      </ul>
    </div>
  </div>
</nav>